:root {
  --tosca: #24d1b5;
  --dark-bg: #121212;
  --light-bg: #ffffff;
  --dark-text: #f4f4f4;
  --light-text: #121212;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  background: var(--dark-bg);
  color: var(--dark-text);
  transition: all 0.4s ease;

}